* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #333333;
}

h1 {
  font-family: "Heebo", sans-serif;
  font-size: 36px;
  font-weight: 800;
}

h2 {
  font-size: 48px;
  font-weight: 500;
}

h3 {
  font-size: 36px;
  font-weight: 500;
}

h4 {
  font-size: 24px;
  font-weight: 700;
}

p {
  font-weight: 400;
}

a,
li {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  list-style: none;
  text-decoration: none;
  color: #333333;
}

img {
  max-width: 100%;
  height: auto;
}

footer {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-size: 700;
  color: #f2f2f2;
}

.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.container2 {
  max-width: 1024px;
  width: 80%;
  margin: 0 auto;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.disabled-btn {
  font-weight: 500;
  font-size: 16px;
  color: #828282;
  display: block;
  background-color: #e0e0e0;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.disabled-btn:hover {
  color: #fff;
  background-color: #2d9cdb;
}

.fa-solid {
  color: #fff;
  transform: translate(120%, 90%);
}

header {
  padding: 0rem 5rem;
}
header nav {
  display: flex;
  align-items: center;
}
header nav .logo {
  font-family: "Heebo", sans-serif;
  font-size: 36px;
  font-weight: 800;
}
header nav .nav-links {
  display: flex;
  margin-left: auto;
}
header nav .nav-links li {
  padding: 20px;
}
header nav .nav-links li a {
  color: rgba(51, 51, 51, 0.8);
  transition: all 0.3s ease;
}
header nav .nav-links li a:hover {
  color: #333333;
}
header nav .burger div {
  width: 25px;
  height: 3px;
  background-color: rgba(51, 51, 51, 0.8);
  margin: 5px;
  transition: all 0.3s ease-in;
}
header nav .burger {
  display: none;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
header nav .burger:hover {
  color: #333333;
}

.hero-info {
  padding-top: 4rem;
}
.hero-info .container2 p {
  color: #2d9cdb;
}
.hero-info .container2 h2 {
  width: 57%;
}

.hero-image {
  padding: 2rem 0rem;
}
.hero-image img {
  border-radius: 18px;
}

.hero-subscribe {
  padding-bottom: 4rem;
}
.hero-subscribe h2 {
  width: 40%;
}
.hero-subscribe p {
  width: 40%;
  color: #4f4f4f;
  padding: 1rem 0rem;
}
.hero-subscribe span {
  color: #828282;
  font-size: 14px;
}
.hero-subscribe form {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: relative;
}
.hero-subscribe form input[type=email] {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  border-radius: 12px;
  background-color: #f2f2f2;
  border: none;
  padding: 10px;
  margin: 10px 0px;
  width: 30%;
}
.hero-subscribe button {
  background-color: #2d9cdb;
  color: rgba(242, 242, 242, 0.8);
  border: none;
  font-size: 18px;
  border-radius: 12px;
  cursor: pointer;
  padding: 10px 20px;
  transition: all 0.3s ease;
  position: absolute;
  bottom: 13px;
  left: 230px;
}
.hero-subscribe button:hover {
  color: #f2f2f2;
}

.cards h3 {
  width: 30%;
}
.cards .card {
  width: 33%;
  padding: 3rem;
  cursor: pointer;
  transition: all 0.4s ease;
}
.cards .card:hover {
  box-shadow: 2px 2px 10px 5px rgba(51, 51, 51, 0.1), 0px 20px 20px rgba(51, 51, 51, 0.1);
  border-radius: 16px;
}
.cards .card .icon {
  max-width: 60px;
  height: 60px;
  margin: 1rem 0rem;
  border-radius: 16px;
}
.cards .card .icon1 {
  background-color: #2d9cdb;
}
.cards .card .icon2 {
  background-color: #27ae60;
}
.cards .card .icon3 {
  background-color: #eb5757;
}
.cards .card h4 {
  padding: 1rem 0rem;
}
.cards .card p {
  width: 80%;
  padding-bottom: 1rem;
  color: #4f4f4f;
  font-size: 16px;
}

.image-grid .container h3 {
  width: 35%;
  padding: 4rem 1rem;
}
.image-grid .container a {
  font-weight: 500;
  color: #2d9cdb;
  font-size: 24px;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 6rem;
}
.image-grid .container a .fas {
  padding: 0.35rem 0.5rem;
  vertical-align: middle;
}
.image-grid .container .row {
  position: relative;
  padding-bottom: 2rem;
}
.image-grid .container .row .column {
  padding: 1rem;
}
.image-grid .container .row .column .grid-img {
  max-width: 534px;
  height: 534px;
}
.image-grid .container .row .column .grid-img img {
  width: 100%;
  border-radius: 16px;
}
.image-grid .container .row .column span {
  color: #828282;
  font-weight: 300;
  font-size: 14px;
  padding-top: 10px;
}
.image-grid .container .row .column h4 {
  font-weight: 500;
}
.image-grid .container .row .column .mobile-info-grid {
  padding-top: 30px;
}
.image-grid .container .row .col-positioning {
  padding-top: 3rem;
  position: absolute;
  top: -20%;
  left: 50%;
}

.meet-the-team {
  padding: 6rem 0rem;
}
.meet-the-team .container .row {
  align-items: center;
  justify-content: space-between;
}
.meet-the-team .container .row .column {
  width: 70%;
}
.meet-the-team .container .row .column h3 {
  width: 57%;
}
.meet-the-team .container .row .column p {
  font-weight: 500;
  color: #eb5757;
  padding-bottom: 1rem;
}
.meet-the-team .container .row .column span {
  padding-top: 1rem;
  font-size: 14px;
  color: #4f4f4f;
  width: 40%;
}
.meet-the-team .container .row .row {
  width: 80%;
}
.meet-the-team .container .row .row .meet-image {
  max-width: 450px;
  height: 450px;
}
.meet-the-team .container .row .row .meet-image img {
  border-radius: 16px;
}
.meet-the-team .container .row .row .meet-column-imgs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 350px;
  height: 350px;
}
.meet-the-team .container .row .row .meet-column-imgs img {
  border-radius: 16px;
  padding: 10px;
}
.meet-the-team .container .row .row .meet-column-imgs .person1-img {
  max-width: 95%;
  align-self: flex-start;
}

.quote {
  padding-bottom: 4rem;
}
.quote .container {
  padding-top: 4rem;
}
.quote .container h3 {
  width: 75%;
  padding-bottom: 2rem;
}
.quote .container .row .image {
  max-width: 80px;
  height: 80px;
  padding-right: 1rem;
}
.quote .container .row .image img {
  max-width: 100%;
  border-radius: 12px;
}
.quote .container .row .info h4 {
  font-weight: 500;
}
.quote .container .row .info p {
  font-weight: 500;
  color: #828282;
}

footer {
  background-color: #100e1d;
}
footer .container .row {
  padding-top: 2rem;
  justify-content: space-between;
}
footer .container .row .footer-links li,
footer .container .row .footer-links a {
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease;
}
footer .container .row .footer-links li:hover,
footer .container .row .footer-links a:hover {
  color: white;
}
footer .container .row .column h1 {
  color: #f2f2f2;
}
footer .container .row .column .row {
  padding-top: 0;
}
footer .container .row .column .row .fa-brands {
  font-size: 18px;
  padding-right: 10px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease;
}
footer .container .row .column .row .fa-brands:hover {
  color: white;
}
footer .container .row .column span {
  color: #f2f2f2;
  font-size: 14px;
}
footer .container .row .column form {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: relative;
}
footer .container .row .column form input[type=email] {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  border-radius: 12px;
  background-color: #f2f2f2;
  border: none;
  padding: 10px;
  margin: 10px 0px;
  width: 90%;
}
footer .container .row .column form button {
  background-color: #2d9cdb;
  color: rgba(242, 242, 242, 0.8);
  border: none;
  font-size: 18px;
  border-radius: 12px;
  cursor: pointer;
  padding: 10px 20px;
  transition: all 0.3s ease;
  position: absolute;
  bottom: 13px;
  left: 113px;
}
footer .container .row .column form button:hover {
  color: #f2f2f2;
}
footer .container .row .footer-text {
  padding-bottom: 1rem;
  margin: 0 auto;
}
footer .container .row .footer-text a {
  color: rgba(242, 242, 242, 0.8);
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 14px;
}
footer .container .row .footer-text a:hover {
  color: #f2f2f2;
}

@media (max-width: 768px) {
  header nav .nav-links {
    position: fixed;
    right: 0px;
    height: 100%;
    top: 0;
    background-color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
  }
  header nav .nav-links li a {
    color: rgba(51, 51, 51, 0.8);
    transition: all 0.3s ease;
  }
  header nav .nav-links li a:hover {
    color: #333333;
  }
  header nav .burger {
    margin-left: auto;
    display: block;
    cursor: pointer;
  }
  header nav .nav-active {
    transform: translateX(0%);
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .hidden {
    overflow: hidden;
  }
}/*# sourceMappingURL=style.css.map */