* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #333333;
}

h1 {
  font-family: "Heebo", sans-serif;
  font-size: 36px;
  font-weight: 800;
}

h2 {
  font-size: 48px;
  font-weight: 500;
}

h3 {
  font-size: 36px;
  font-weight: 500;
}

h4 {
  font-size: 24px;
  font-weight: 700;
}

p {
  font-weight: 400;
}

a,
li {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  list-style: none;
  text-decoration: none;
  color: #333333;
}

img {
  max-width: 100%;
  height: auto;
}

footer {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-size: 700;
}

.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.container2 {
  max-width: 1024px;
  width: 80%;
  margin: 0 auto;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.disabled-btn {
  font-weight: 500;
  font-size: 16px;
  color: #828282;
  display: block;
  background-color: #e0e0e0;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.disabled-btn:hover {
  color: #fff;
  background-color: #2d9cdb;
}

.fa-solid {
  color: #fff;
  transform: translate(120%, 90%);
}

header {
  padding: 0rem 5rem;
}
header nav {
  display: flex;
  align-items: center;
}
header nav .nav-links {
  display: flex;
  margin-left: auto;
}
header nav .nav-links li {
  padding: 20px;
}

.hero-info {
  padding-top: 4rem;
}
.hero-info .container2 p {
  color: #2d9cdb;
}
.hero-info .container2 h2 {
  width: 57%;
}

.hero-image {
  padding: 2rem 0rem;
}
.hero-image img {
  border-radius: 18px;
}

.hero-subscribe {
  padding-bottom: 4rem;
}
.hero-subscribe h2 {
  width: 40%;
}
.hero-subscribe p {
  width: 40%;
  color: #4f4f4f;
  padding: 1rem 0rem;
}
.hero-subscribe span {
  color: #828282;
  font-size: 14px;
}
.hero-subscribe form {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: relative;
}
.hero-subscribe form input[type=email] {
  color: #bdbdbd;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  border-radius: 12px;
  background-color: #f2f2f2;
  border: none;
  padding: 10px;
  margin: 10px 0px;
  width: 30%;
}
.hero-subscribe button {
  background-color: #2d9cdb;
  color: rgba(242, 242, 242, 0.8);
  border: none;
  font-size: 18px;
  border-radius: 12px;
  cursor: pointer;
  padding: 10px 20px;
  transition: all 0.3s ease;
  position: absolute;
  bottom: 13px;
  left: 230px;
}
.hero-subscribe button:hover {
  color: #f2f2f2;
}

.cards h3 {
  width: 30%;
}
.cards .card {
  width: 33%;
  padding: 3rem;
  cursor: pointer;
  transition: all 0.4s ease;
}
.cards .card:hover {
  box-shadow: 2px 2px 10px 5px rgba(51, 51, 51, 0.1), 0px 20px 20px rgba(51, 51, 51, 0.1);
  border-radius: 16px;
}
.cards .card .icon {
  max-width: 60px;
  height: 60px;
  margin: 1rem 0rem;
  border-radius: 16px;
}
.cards .card .icon1 {
  background-color: #2d9cdb;
}
.cards .card .icon2 {
  background-color: #27ae60;
}
.cards .card .icon3 {
  background-color: #eb5757;
}
.cards .card h4 {
  padding: 1rem 0rem;
}
.cards .card p {
  width: 80%;
  padding-bottom: 1rem;
  color: #4f4f4f;
  font-size: 16px;
}

.image-grid .container h3 {
  width: 35%;
  padding: 4rem 1rem;
}
.image-grid .container .row {
  position: relative;
  padding-bottom: 2rem;
}
.image-grid .container .row .column {
  padding: 1rem;
}
.image-grid .container .row .column .grid-img {
  max-width: 534px;
  height: 534px;
}
.image-grid .container .row .column .grid-img img {
  width: 100%;
  border-radius: 16px;
}
.image-grid .container .row .column span {
  color: #828282;
  font-weight: 300;
  font-size: 14px;
  padding-top: 10px;
}
.image-grid .container .row .column h4 {
  font-weight: 500;
}
.image-grid .container .row .col-positioning {
  padding-top: 3rem;
  position: absolute;
  top: -20%;
  left: 50%;
}/*# sourceMappingURL=style.css.map */