* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #333333;
}
h1 {
  font-family: "Heebo", sans-serif;
  font-size: 36px;
  font-weight: 800;
}
h2 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 500;
}
a,
li {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  list-style: none;
  text-decoration: none;
  color: #333333;
}
footer {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-size: 700;
}
.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}
.row {
  display: flex;
}

// NAV
header {
  padding-left: 2rem;
  nav {
    display: flex;
    align-items: center;

    .nav-links {
      display: flex;
      margin-left: auto;
      li {
        padding: 20px;
      }
    }
  }
}
